.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap:20px;
  width: 80vw;
  margin:auto;
  margin-top: 40px;

}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 150px;
  font-size: .8rem;
  text-align: center;
  padding: 10px;
}
.img{
  width: 40%;
  height: 40%;
}